{{.Content.Greeting}} Admin, Security Response Automation

A remediation was taken automatically! The following actions was done:

{{.Content.Actions}}

These actions were triggered by the following Security Finding:

{{.Content.Finding}}